/* SMARTPHONE */
@media only screen and (max-width: 600px) {

    /* HEADER */
    header .hamburger-menu {
        display: flex;
        justify-content: flex-end;
    }

    .navbar {
        height: 200px;
        display: none;
        background-color: rgb(230, 227, 219);
    }

    .navbar ul {
        width: 100%;
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        padding: 5px 5px;
    }

    .navbar ul li:nth-child(3) {
        color: rgb(148, 83, 83);
    }

    .navbar ul li a {
        color: rgb(148, 83, 83);
    }


    /* AKHIR HEADER */
    /* MEMULAI MAIN */
    main .logo {
        padding-top: 40px;
    }

    main .logo>h2 {
        font-size: 1.25em;
    }

    main .logo>h2>span {
        font-size: 2em;

    }

    main .title-content {
        height: 50vh;
    }

    main .title-content h1 {
        font-size: 25px;
        margin-top: 5vh;
    }

    main .title-content h2 {
        font-size: 15px;
    }

    main>h3.title-product {
        font-size: 1.5em;
    }

    main .product-content {
        flex-direction: column;
    }

    .product-content1,
    .product-content2,
    .product-content3,
    .product-content4 {
        margin-right: auto;
        width: 100%;
    }

    .product-content2,
    .product-content3,
    .product-content4 {
        margin-top: 30px;
    }

    .product-content1 img,
    .product-content2 img,
    .product-content3 img,
    .product-content4 img {
        height: 40vh;
    }

    /* Mulai about Company */
    main .about-company h3 {
        width: 75%
    }

    main .about-company1 {
        flex-direction: column;
        width: 90%;
    }

    .about-company1 .payment,
    .about-company1 .FAQ,
    .about-company1 .contact {
        width: 100%;
    }

    .about-company1 .FAQ,
    .about-company1 .contact {
        margin-top: 5vh;
    }

    /* MEMULAI FOOTER */
    .address {
        display: block;
    }

    .office-address {
        width: 85%;
        margin: 0 auto 3vh;
    }

    .showroom-address {
        width: 85%;
        margin: 0 auto;
    }

    p.copyright {
        font-size: 0.9em;
    }


    /* MEMULAI PAGE FORMULIR */
    .section {
        margin-top: 3vh;
    }

    form.log-in {
        width: 100%;
        height: 550px;
        border: none;
    }

    div.login-with {
        justify-content: space-around;
        width: 100%;
    }

    /* MODAL SIGNUP */
    /* Clear fix */
    .clearfix {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .cancelbtn,
    .signup {
        width: 49%;
    }

    /* MEMULAI MODAL IMAGE KLIK GAMBAR */
    .modal-image-content {
        width: 90%;
        height: 60vh;
        margin: 0 auto;
    }

    .modal-image-content img {
        margin-top: 10vh;
        margin-left: 14.5vw;
        width: 72%;
        height: 55%;
    }
}



/* SMARTPHONE TO TABLET */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .navbar ul {
        width: 83.33%;
    }

    .navbar ul li:first-child {
        margin-left: 50px;
    }

    .navbar ul li:nth-child(1)~li {
        margin-left: 20px;
    }

    .navbar ul li a {
        padding: 5px 15px;
    }

    main .title-content {
        margin-top: 13vh;
    }

    main .title-content h1 {
        font-size: 25px;
        margin-top: 100px;
    }

    main .title-content h2 {
        font-size: 20px;
    }

    main .product-content {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main .product-content3,
    main .product-content4 {
        margin-top: 1vh;
    }

    .product-content1,
    .product-content2,
    .product-content3,
    .product-content4 {
        width: 47%;
    }

    .product-content1 img,
    .product-content2 img,
    .product-content3 img,
    .product-content4 img {
        height: 30vh;
    }

    /* Memulai .about-company */
    main .about-company h3 {
        width: 75%
    }

    main .about-company1 {
        flex-direction: column;
        width: 90%;
        justify-content: center;
    }

    .about-company1 .payment,
    .about-company1 .FAQ,
    .about-company1 .contact {
        width: 100%;
    }

    .about-company1 .FAQ,
    .about-company1 .contact {
        margin-top: 5vh;
    }

    /* MEMULAI PAGE FORMULIR */
    form.log-in {
        width: 75%;
        border: none;
        height: 600px;
    }

    div.login-with {
        justify-content: space-between;
        width: 100%;
    }

    /* MEMULAI MODAL IMAGE KLIK GAMBAR */
    .modal-image-content {
        width: 75%;
        height: 50vh;
        margin: 0 auto;
    }

    .modal-image-content img {
        margin-top: 10vh;
        margin-left: 14.5vw;
        width: 65%;
        height: 70%;
    }
}

/* TABLET TO DESKTOP */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .navbar ul {
        width: 66.66%;
    }

    .navbar ul li:first-child {
        margin-left: 50px;
    }

    .navbar ul li:nth-child(1)~li {
        margin-left: 20px;
    }

    .navbar ul li a {
        padding: 5px 15px;
    }

    /* Memulai Main */
    main .title-content {
        margin-top: 13.5vh;
    }

    main .product-content {
        flex-wrap: wrap;
    }

    main .product-content3,
    main .product-content4 {
        margin-top: 1vh;
    }

    .product-content1,
    .product-content2,
    .product-content3,
    .product-content4 {
        width: 48%;
    }

    /* Memulai .about-company */
    main .about-company h3 {
        width: 75%
    }

    /* MEMULAI PAGE FORMULIR */
    form.log-in {
        width: 75%;
        height: 550px;
    }

    div.login-with {
        justify-content: space-between;
        width: 100%;
    }

    /* LOGIN DENGAN GOOGLE FACEBOOK TWITTER */
    div.login-with {
        justify-content: space-around;
    }

    /* MEMULAI MODAL IMAGE KLIK GAMBAR */
    .modal-image-content {
        width: 75%;
        height: 60vh;
        margin: 0 auto;
    }

    .modal-image-content img {
        margin-top: 10vh;
        margin-left: 14.5vw;
        width: 65%;
        height: 70%;
    }
}