/* ----------------------------------------------------- HEADING ---------------------------------------------------- */
@mixin heading($size: 1rem, $margin-size, $width: 5rem, $color: $quaternary-color) {
    font-size: $size;
    text-align: center;
    font-family: 'Quicksand-bold';
    margin: $margin-size;

    &::after {
        content: '';
        display: block;
        width: 5rem;
        height: 4px;
        margin: 5px auto 0;
        background-color: $color;
    }
}

/* --------------------------------------------- RESPONSIVE LINE NAVBAR --------------------------------------------- */
@mixin line-menu() {
    background: $secondary-color;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transform-origin: 50% 50%;
    transition: transform 0.5s 0.08s, background-color 0.5s, top 0.5s 0.08s, left 0.3s, opacity 0.5s, width 0.6s 0.05s;
}

/* ----------------------------------------- MIXIN BREAKPOINT / MEDIA QUERY ----------------------------------------- */
@mixin xs {
    @media (min-width: map-get($breakpoint, 'xs')) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoint, 'sm')) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoint, 'md')) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoint, 'lg')) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoint, 'xl')) {
        @content;
    }
}
