/* ---------------------------------------------- SECTION COLOR PALLETE --------------------------------------------- */
$primary-color: #181818;
$secondary-color: #fffffe;
$tertiary-color: #2e2e2e;
$quaternary-color: #4fc4cf;

$dark: #343a40;
$light: #f8f9fa;

/* ----------------------------------------------- SECTION FONT STYLE ----------------------------------------------- */
$font-smallest: 1rem;
$font-details: 1.125rem;
$font-body-text: 1.25rem;
$font-subtitle: 1.5rem;
$font-title: 2.125rem;
$font-header: 2.75rem;

/* ------------------------------------------- BREAKPOINT FOR MEDIA QUERY ------------------------------------------- */
$breakpoint: (
    'xs': 0,
    'sm': 480px,
    'md': 720px,
    'lg': 960px,
    'xl': 1200px,
);

/* --------------------------------------------------- GRID SYSTEM -------------------------------------------------- */
$grid-columns: 12;

$grid-gaps: (
    '0': 0,
    '1': 10px,
    '2': 20px,
    '3': 30px,
);

$layout-flex: flex-start, flex-end, center, space-between, space-around;
