/* ---------------------------------------------- SECTION COLOR PALLETE --------------------------------------------- */
/* ----------------------------------------------- SECTION FONT STYLE ----------------------------------------------- */
/* ----------------------------------------------------- HEADING ---------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quicksand-bold";
  font-weight: bold;
  src: url("../../../assets/font/Quicksand-Bold.woff") format("woff");
}
@font-face {
  font-family: "Quicksand-light";
  src: url("../../../assets/font/Quicksand-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand-medium";
  font-weight: 500;
  src: url("../../../assets/font/Quicksand-Medium.woff") format("woff");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("../../../assets/font/Quicksand-Regular.woff") format("woff");
}
@font-face {
  font-family: "Quicksand-semibold";
  font-weight: 600;
  src: url("../../../assets/font/Quicksand-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ephesisregular";
  src: url("../../../assets/font/ephesis-regular-webfont.woff2") format("woff2"), url("../../../assets/font/ephesis-regular-webfont.woff") format("woff");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand-medium", sans-serif;
  max-width: 1366px;
}

/* ------------------------------------------------- START MAIN NAV ------------------------------------------------- */
.main-nav {
  width: 100%;
  height: 50px;
  background-color: #181818;
  color: #fffffe;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.main-nav__brand-logo--link {
  font-size: 2.375rem;
  font-family: "ephesisregular", serif;
  font-weight: bold;
  text-decoration: none;
  color: #fffffe;
  height: 100%;
}
.main-nav__brand-logo--link:hover {
  color: #b1b1b1;
}
.main-nav__container-list {
  display: flex;
  gap: 20px;
  height: 100%;
}
.main-nav__item-list {
  margin: auto;
}
.main-nav__link-list {
  display: inline-block;
  text-decoration: none;
  color: #fffffe;
  font-size: 1.3rem;
  font-family: "Quicksand-semibold";
}
.main-nav__link-list::after {
  content: "";
  display: block;
  margin-top: 2px;
  width: 0;
  height: 2px;
  background: #4fc4cf;
  transition: width 0.3s;
}
.main-nav__link-list:hover::after {
  width: 100%;
}

/* -------------------------------------------------- END MAIN NAV -------------------------------------------------- */
/* ------------------------------------------------- SECTION BANNER ------------------------------------------------- */
.banner {
  margin-top: 50px;
  background-image: url(../../../assets/images/Meja\ meeting-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 42vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15vmax;
  color: #fffffe;
}
.banner__heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: "Quicksand-bold";
}
.banner__description {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* --------------------------------------------------- END BANNER --------------------------------------------------- */
/* ------------------------------------------------ SECTION CATEGORY ------------------------------------------------ */
.category {
  padding: 10vmax 3vmax 2rem;
}
.category__heading {
  font-size: 2.125rem;
  text-align: center;
  font-family: "Quicksand-bold";
  margin: 0 auto;
}
.category__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  margin: 5px auto 0;
  background-color: #4fc4cf;
}
.category__container {
  display: flex;
  margin-top: 4vmax;
  justify-content: center;
  gap: 1rem;
}
.category__image-item {
  flex-basis: 25%;
  border: 0.11rem solid #343a40;
}
.category__image-item--room {
  width: 100%;
  height: 11.25rem;
}
.category__image-item--text {
  font-size: 1rem;
  padding: 0.5rem 0.3125rem;
}

/* -------------------------------------------------- END CATEGORY -------------------------------------------------- */
/* ------------------------------------------------- START ABOUT US ------------------------------------------------- */
.about-us {
  padding: 1rem 3vmax 2rem;
  width: 100%;
}
.about-us__heading {
  font-size: 2.125rem;
  text-align: center;
  font-family: "Quicksand-bold";
  margin: 5rem auto 2rem;
}
.about-us__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  margin: 5px auto 0;
  background-color: #4fc4cf;
}
.about-us__description {
  line-height: 1.5;
  font-size: 1.125rem;
  padding: 0 2rem;
}
.about-us__description--heading-line {
  font-size: 2rem;
  font-family: "ephesisregular", serif;
  font-weight: bold;
  margin: 0 3px;
}

/* -------------------------------------------------- END ABOUT US -------------------------------------------------- */
/* -------------------------------------------------- START PAYMENT ------------------------------------------------- */
.payment {
  padding: 1rem 3vmax 2rem;
}
.payment__heading {
  font-size: 2.125rem;
  text-align: center;
  font-family: "Quicksand-bold";
  margin: 5rem auto 2rem;
}
.payment__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  margin: 5px auto 0;
  background-color: #4fc4cf;
}
.payment__description {
  line-height: 1.5;
  font-size: 1.125rem;
  padding: 0 2rem;
}
.payment__container-image {
  display: flex;
  padding: 2rem 2rem;
  gap: 1.25rem;
}
.payment__container-image__item--image {
  width: 12.5rem;
}
.payment__container-image__item--text {
  text-align: center;
  padding: 0.5rem 0;
}

@media (max-width: 575px) {
  /* 
      SECTION NAVBAR
  */
  /* 
      SECTION BANNER
  */
  .banner {
    display: block;
    padding: 2rem 0.625rem 0;
  }
  .banner__heading {
    width: 100%;
    font-size: 2.125rem;
  }
  .banner__description {
    width: 100%;
  }

  /* 
      SECTION CATEGORY
  */
  .category__container {
    flex-direction: column;
  }
}